html {
    min-height: 100%;
    min-width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: inherit;
}

body {
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #0071BC;
}

a.nontext {
    text-decoration: none;
}

.list0 li:before {
    position: absolute;
    right: 100%;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.nls-None>li:before {
    margin-right: 6px;
    content: '•';
}

.nls-None {
    padding-left: 34px;
}

.TabbedPanelsTab {
    white-space: nowrap;
}

.MenuBar .SubMenuView {
    display: block;
    list-style: none;
}

.MenuBar .SubMenu {
    display: none;
    position: absolute;
}

.NoWrap {
    white-space: nowrap;
    word-wrap: normal;
}

.colelem {
    display: inline;
    float: left;
    clear: both;
}

.clearfix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.clip_frame {
    overflow: hidden;
}

.popup_anchor {
    position: relative;
    width: 0px;
    height: 0px;
}

.popup_element {
    z-index: 100000;
}

.svg {
    display: block;
}

.position_content {
    float: left;
}

.preload_images {
    position: absolute;
    overflow: hidden;
    left: -9999px;
    top: -9999px;
    height: 1px;
    width: 1px;
}

.preload {
    height: 1px;
    width: 1px;
}

.allow_click_through {
    pointer-events: none;
}

.anchor_item {
    width: 22px;
    height: 18px;
}

.actAsDiv,
a.nonblock.nontext,
img.block {
    display: block;
}

.js .invi {
    visibility: hidden;
}

.borderbox {
    box-sizing: border-box;
}

.browser_width>* {
    position: absolute;
    left: 0px;
    right: 0px;
}

.grpelem {
    display: inline;
    float: left;
}

.superscript {
    vertical-align: super;
    font-size: 66%;
    line-height: 0px;
}

.verticalspacer {
    clear: both;
}

.list0 li,
.MenuBar .MenuItemContainer,
.css_verticalspacer .verticalspacer {
    position: relative;
}

.js .disn,
.hidden {
    display: none;
}

.fluid_height_spacer {
    width: 0.01px;
}