:root {
    --color-primary: #0071BC;
    --color-secondary: #0E308E;
    --color-tertiary: #00B0C3;
    --color-gold: #BC9200;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

.Logo p {
    line-height: 60px;
    color: var(--color-white);
    font-size: 50px;
    font-weight: bold;
}

.Logo span {
    color: var(--color-secondary);
}

.AccordionPanelTab {
    background: transparent url("../images/mobile_menu_icon_2x.png?crc=343049121") no-repeat right center;
    background-size: contain;
    cursor: pointer;
}

.Header,
.Footer,
.MenuBar,
.MenuItem:hover,
.MenuItem.MuseMenuActive {
    background-color: var(--color-primary);
}

.MenuItem {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.SubMenu .MenuItem {
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 2px 1px 0px 0px;
}

.MenuItemLabel {
    line-height: 20px;
    text-align: center;
    font-size: 17px;
    color: var(--color-white);
    font-weight: bold;
}