/* Disable horizontal scroll */
html,
body {
  overflow-x: hidden !important;
  overscroll-behavior-x: none;
}

/* Hide white lines around footer */
.verticalspacer {
  min-height: 0px !important;
}

/* City map animation */
iframe.animation {
  border-width: 0px;
  border-radius: 35px;
}

/* Hide word art attribution message */
.wordart-attribution {
  display: none !important;
}

/* Lists */
.Waikiki-list-style .list1 {
  margin-left: -50px;
}

.Waikiki-list-style .list2 {
  margin-right: -38px;
}

.Waikiki-list-style .list2 li {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Waikiki-list-style .list2 span {
  max-width: 100%;
}

.Waikiki-list-style .list2 img {
  max-width: 100%;
  height: auto;
}

/* Grid and row */
@media (max-width: 1920px) {

  .Row:not(.TabbedPanelsContent),
  .Row.TabbedPanelsContentVisible,
  .Row .ThumbGroup,
  .Grid:not(.TabbedPanelsContent),
  .Grid.TabbedPanelsContentVisible {
    display: flex !important;
    position: unset !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
    width: 100% !important;
    height: auto !important;
  }

  .Row .ThumbGroup>.popup_anchor,
  .Grid>div,
  .Grid>.position_content>div {
    display: contents !important;
  }

  .Row>.PamphletWidget {
    padding: unset !important;
    width: 100% !important;
    height: auto !important;
  }

  .Row>*,
  .Row .ThumbGroup>.popup_anchor>.Thumb,
  .Grid>*,
  .Grid>*>*,
  .Grid>.position_content>*>* {
    position: unset !important;
    margin: unset !important;
  }

  .Row>.anchor_item,
  .Row.clearfix:after,
  .Row.clearfix:before,
  .Row .clearfix:after,
  .Row .clearfix:before,
  .Row .wp-panel:not(.museBGSize),
  .Row .Thumb.popup_element.rounded-corners:not(.museBGSize),
  .Grid>.anchor_item,
  .Grid>.PamphletWidget,
  .Grid.clearfix:after,
  .Grid.clearfix:before,
  .Grid .clearfix:after,
  .Grid .clearfix:before {
    display: none !important;
  }
}

/* Zoom */
@media (max-width: 1200px) {
  .Zoom {
    transform: perspective(100vw) translateZ(calc(100vw - 1200px));
    transform-origin: top;
    margin-bottom: calc(80vw - 850px);
  }
}

/* Flex */
@media (max-width: 1200px) {
  .Flex {
    width: 100vw !important;
    left: -49vw !important;
  }

  .Flex>iframe {
    width: 98% !important;
  }

  .Flex>img {
    width: 98% !important;
    height: auto !important;
  }
}

/* Panel */
@media (max-width: 1200px) {
  .Panel * {
    transform: none !important;
  }

  .Panel {
    border-width: 0px !important;
    transform: none !important;
    top: 10px !important;
    left: 0px !important;
    margin: 0px !important;
  }

  .Panel>.AccordionPanel>.AccordionPanelTab {
    display: none !important;
  }

  .Panel>.AccordionPanel>.AccordionPanelContent {
    width: 100vw !important;
    height: auto !important;
  }

  .Panel>.AccordionPanel>.AccordionPanelContent>.AccordionPanelContentClip>.clearfix {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw !important;
    padding: 0px !important;
  }

  .Panel>.AccordionPanel>.AccordionPanelContent>.AccordionPanelContentClip>.clearfix>div {
    left: unset !important;
    margin: 0px !important;
  }

  .Panel>.AccordionPanel>.AccordionPanelContent>.AccordionPanelContentClip>.clearfix>div:not(.museBGSize) {
    width: 98% !important;
  }
}

/* Scroll */
@media (max-width: 1000px) {
  .Scroll {
    overflow: scroll;
    width: 100vw !important;
    left: -50% !important;
  }
}

/* Typography */
@media (max-width: 1000px) {
  h1 {
    font-size: 56px !important;
    line-height: 56px !important;
    margin-top: -100px !important;
  }

  h2 {
    font-size: 40px !important;
    line-height: 40px !important;
  }

  h3 {

    font-size: 22px !important;
    line-height: 22px !important;
    width: calc(100vw - 10px);
    margin-left: calc((1000px - 100vw)/2 + 5px);
  }

  h4 {
    width: calc(100vw - 10px);
    margin-left: calc((1000px - 100vw)/2 + 5px);
  }

  h5 {
    width: calc(100vw - 10px);
    margin-left: calc((800px - 100vw)/2 + 5px);
  }

  h6 {
    width: calc(100vw - 10px);
    margin-left: calc((600px - 100vw)/2 + 5px);
  }

  .TextLine p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Layout adjustments on small screens */
@media screen and (max-width: 1000px) {
  .anchor_item.grpelem {
    margin-top: 0px !important;
  }

  div[id$='bw'],
  div[id$='bw']>div:not(.museBGSize) {
    min-height: 0px !important;
  }
}