html,
body {
  overflow-x: hidden !important;
  overscroll-behavior-x: none;
}

body {
  background-color: white;
  overflow-y: hidden !important;
}

.verticalspacer {
  min-height: 0px !important;
}

.corsorPointer,
.AutoLayoutButton,
.WideLayoutButton,
.DesktopLayoutButton,
.LaptopLayoutButton,
.TabletLayoutButton,
.MobileLayoutButton {
  cursor: pointer;
}

/* Hide white lines around footer */
.Footer {
  margin-top: -2px !important;
  bottom: 0px !important;
}

/* Hide header menu at breakpoint */
@media (max-width: 1920px) {
  .Header {
    visibility: hidden !important;
  }
}

/* City map animation */
iframe.animation {
  border-width: 0px;
  border-radius: 35px;
}

/* Introduction animation */
.introduction {
  border-width: 0px;
  margin-bottom: -4px;
  width: 2560px;
  height: 800px;
}

/* Hide word art attribution message */
.wordart-attribution {
  display: none !important;
}

/* Lists */
.Waikiki-list-style .list1 {
  margin-left: -50px;
}

.Waikiki-list-style .list2 {
  margin-right: -38px;
}

.Waikiki-list-style .list2 li {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Waikiki-list-style .list2 span {
  max-width: 100%;
}

.Waikiki-list-style .list2 img {
  max-width: 100%;
  height: auto;
}

/* Grid */
@media (max-width: 1920px) {

  .Row:not(.TabbedPanelsContent),
  .Row.TabbedPanelsContentVisible,
  .Grid:not(.TabbedPanelsContent),
  .Grid.TabbedPanelsContentVisible {
    display: flex !important;
    position: unset !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
  }

  .Grid>div {
    display: contents !important;
  }

  .Row>*,
  .Grid>*,
  .Grid>*>* {
    position: unset !important;
    margin: unset !important;
  }

  .Row .anchor_item,
  .Row .PamphletWidget,
  .Row.clearfix:after,
  .Row.clearfix:before,
  .Row .clearfix:after,
  .Row .clearfix:before,
  .Grid .anchor_item,
  .Grid .PamphletWidget,
  .Grid.clearfix:after,
  .Grid.clearfix:before,
  .Grid .clearfix:after,
  .Grid .clearfix:before {
    display: none !important;
  }
}

/* Flex */
@media (max-width: 1000px) {

  .Flex .ThumbGroup {
    display: flex !important;
    position: unset !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
    width: 100% !important;
    height: auto !important;
  }

  .Flex .ThumbGroup>.popup_anchor {
    display: contents !important;
  }

  .Flex .PamphletWidget {
    position: unset !important;
    margin: unset !important;
    padding: unset !important;
    width: 100% !important;
    height: auto !important;
  }

  .Flex .ThumbGroup:after,
  .Flex .ThumbGroup:before,
  .Flex .wp-panel {
    display: none !important;
  }

  .Flex .ThumbGroup>.popup_anchor>.Thumb {
    position: relative !important;
    left: 0px !important;
  }

  .FlexImage>img {
    width: 100vw !important;
    height: auto !important;
  }

  .FlexImage {
    width: 100vw !important;
    left: -50% !important;
  }
}

/* Typography */
@media (max-width: 1000px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: calc(100vw - 10px);
  }

  h1 {
    font-size: 56px !important;
    line-height: 56px !important;
    margin-top: -100px !important;
  }

  h3 {
    font-size: 22px !important;
    line-height: 22px !important;
    margin-left: calc((1000px - 100vw)/2 + 5px);
  }

  h4 {
    margin-left: calc((1000px - 100vw)/2 + 5px);
  }

  h5 {
    margin-left: calc((800px - 100vw)/2 + 5px);
  }

  h6 {
    margin-left: calc((600px - 100vw)/2 + 5px);
  }

  .TextLine p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Zoom */
@media (max-width: 1000px) {
  .Zoom {
    transform: perspective(100vw) translateZ(calc(100vw - 1000px));
    transform-origin: top;
    margin-bottom: calc(80vw - 800px);
  }

  #pregen-es-ma {
    margin-bottom: calc(80vw - 800px);
  }
}

/* Hide popup elements on small screens */
@media screen and (max-width: 1000px) {
  .Thumb.popup_element.rounded-corners:not(.museBGSize) {
    background-color: transparent !important;
  }
}